@import url('https://fonts.googleapis.com/css?family=Arvo');

* {
  box-sizing: border-box;
  font-family: 'Arvo', serif;
}

header {
  background-color: #565656;
  color: #e0e0e0;
  padding: .5em 2em;
}

h2 {
  margin: 0;
}

label, button {
  display: block;
  letter-spacing: 2px;
  margin-top: 1em;
}

label {
  margin-bottom: .5em;
}

label, button, input, textarea {
  color: #565656;
}

textarea {
  letter-spacing: 1.5px;
}

button {
  background-color: lightgreen;
  border: 0;
  cursor: pointer;
  margin-top: 3em;
  padding: 1em;
}

button:active {
  outline: 0;
  -webkit-transform: scale(.95);
          transform: scale(.95);
}

button:hover {
  background-color: #d0ffd0;
}

form {
  background-color: white;
  border: 1px solid #e0e0e0;
  padding: 2em;
}

input, textarea {
  background-color: #efefef;
  border: 2px solid #e0e0e0;
  border-radius: 4px;
  height: 4em;
  padding: 5px 0 1px .5em;
  width: 100%;
}

textarea {
  background: url("../image/plant.png") no-repeat bottom right;
  background-size: contain;
  line-height: 1.5em;
  height: 12em;
  resize: none;
}

footer {
  bottom: 0;
  height: 100px;
  margin-bottom: 2px;
  position: absolute;
  right: 1em;
  width: 100px;
}

.form-container {
  margin: 0 auto;
  position: relative;
  width: 28em;
}

.your-logo {
  height: 100px;
  position: absolute;
}

.sent {
  background-color: #565656;
  color: lightgreen;
  margin: 0;
  padding: 0 0 1em 2em;
}

.error {
  background-color: #565656;
  color: red;
  margin: 0;
  padding: 0 0 1em 2em;
}
